<header>
    <a href="/menu" style="float: left;"> <button id="headerButton">Menu</button> </a>
    <a href="/activity" style="float: left;"> <button id="headerButton">Activités</button> </a>
    <a href="/user" style="float: left;"> <button id="headerButton">Utilisateurs</button> </a>
    <b style="padding-right: 30%;">Programmes thérapeutiques</b>
    <a href="/connexion"> <button id="headerButton">Connexion</button></a>
    <a href="/inscription"><button id="headerButton">Inscription</button></a>
</header>