<!DOCTYPE html>
<html	lang="fr"
		xmlns:th="http://www.thymeleaf.org">
	<head>
 	    <meta charset="utf-8"> 	
        <title>Articles</title>
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
 	</head>
 	<body>
		<!-- insertion du header -->
		<div th:insert="fragments/header :: header"> </div>

		<!-- contenu -->
 		<div id="mainActivityContainer">
            <div id="detailsActivityContainer">

                <p th:text="${user.email}"></p>
                <p th:text="${user.firstName}"></p>
                <p th:text="${user.lastName}"></p>

            </div>
 		</div>

		<div id="CommentsActivityContainer">
			<h2 th:text="@{'Les activités de ' + ${user.firstName}}"></h2>
			<div id="divCommentaire" th:each="activity:${user.activities}">
				<p th:text="${activity.id}"></p><pre> </pre><p th:text="${activity.sportName}"></p><pre> </pre>
			 </div>
		</div>

		<!-- insertion du footer -->
		<div th:insert="fragments/footer :: footer"></div>
 	</body>
 </html>