<!DOCTYPE html>
<html	lang="fr"
		xmlns:th="http://www.thymeleaf.org">
	<head>
 	    <meta charset="utf-8"> 	
        <title>Articles</title>
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
 	</head>
 	<body>
		<!-- insertion du header -->
		<div th:insert="fragments/header :: header"> </div>
		<div id="listActivities">
			<div id="listActivitiesActivity" th:each="user:${users}">
				<p th:text="${user.id}"></p>
				<p th:text="${user.email}"></p>
				<p><a th:href="@{'/user/' + ${user.id}}">Voir détail utilisateur</a></p>
			 </div>

		</div>
		<!-- contenu -->
 		

		<!-- insertion du footer -->
		<div th:insert="fragments/footer :: footer"></div>
 	</body>
 </html>